<!DOCTYPE html>
<html>

<head>

<title>ShortURL - Shorten a URL! Wow! Revolutionary!</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<style>

</style>

<script>

// testing flag
testing = true;

// Define the localStorage.links string for testing
if (testing) {
	localStorage.links = JSON.stringify([
		{ "longURL" : "http://news.yahoo.com/us/", "shortURL" : "short_yahoo" },
		{ "longURL" : "http://espn.go.com/mlb/standings", "shortURL" : "short_espn" },
		{ "longURL" : "http://www.google.com/intl/en_us/chrome/devices/chromecast/index.html?utm_source=chromecast.com", "shortURL" : "short_google" }
	])
}

// If never been to site before then localStorage.
if (typeof localStorage.links !== 'undefined') {
	links = JSON.parse(localStorage.links);
} else {
	links = [];
}

function main() {
	longInput = document.getElementById('longInput');
	linksTable = document.getElementById('linksTable');
	drawLinksTable();
}

function saveLinks() {
	localStorage.links = JSON.stringify(links);
}

function drawLinksTable() {
	// draw links table using the links array of link objects
	var tableRows = "<tr><th>LongURL</th><th>ShortURL</th></tr>";
	for (var i = 0 ; i < links.length ; i++) {
		tableRows += "<tr><td><a href='" + links[i].longURL + "' target='blank'>" + links[i].longURL + "</a></td><td><input type='text' class='wide' onclick='this.select()' readonly value='" + location.href + links[i].shortURL + "'></td></tr>";
	}
	linksTable.innerHTML = tableRows;
}

// Generate  timestamp to be submitted to MySQL. Could also use the MySQL function "NOW()".
function returnMySQLTimestamp() {
	return new Date().toISOString().slice(0, 19).replace('T', ' ');
}



function shortURL(longURL) {
	var xmlhttp;
	// Long URL cannot be empty.
	if (longURL === "" ) {
		return;
	} else {
		// A protocol must be included in a link.
		var protocolPattern = /^(https?|ftps?):\/\/.+/i;
		if (!protocolPattern.test(longURL)) {  // if there is not a URL at the beginning
			longURL = "http://" + longURL;
		}
		longURL = encodeURI(longURL);
	}
	var xmlhttp=new XMLHttpRequest();
	xmlhttp.onreadystatechange=function() {
		if (xmlhttp.readyState==4 && xmlhttp.status==200) {
			// push to links array
			var newLink = { "longURL" : longURL, "shortURL" : xmlhttp.responseText };
			links.unshift(newLink);
			// redraw links table
			drawLinksTable();
			// clear the input
			longInput.value = "";
		}
	}
	xmlhttp.open("GET","api/" + longURL);
	xmlhttp.send();
}

</script>

</head>



<body onload="main();">

<h1>ShortURL</h1>

<p>
	<label for="long">LongURL:</label>
	<input id="longInput" name="long" type="text" class="widest" placeholder="www.a.long.domain.com/an/even/longer/path.html?and_even=GET_Params">
	<button id="shortURLButton" onclick="shortURL(longInput.value)">Get ShortURL!</button>
</p>

<table border='1' cellpadding='5' id="linksTable"></table>

</body>

</html>
